{% extends "base.html" %}

{% block page_title %}
tennisTO - {{ court.name }}
{% endblock %}

{% block javascript_includes %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
{% endblock %}


{% block additional_scripts %}
var map;

function initialize() 
{
  var myLatlng = new google.maps.LatLng({{ court.geo_position.latitude }}, {{ court.geo_position.longitude }});
  var mapOptions = {
    zoom: 15,
    center: myLatlng,
    disableDefaultUI: true,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  
  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: '{{ court.name }}'
  });
}

google.maps.event.addDomListener(window, 'load', initialize);
{% endblock %}


{% block content %}
{% if court.photosynth_url %}
<iframe frameBorder="0" style="width:100%; height:350px; margin:0px; margin-top:-1px; border:0px; padding:0px; border-bottom:solid 1px #E5D200;" src="{{ court.photosynth_url }}">
    Fallback image.
</iframe>
{% endif %}
<div class="pageHeader"> 
    <div class="pageHeaderContent">
        {{ court.name }}
    </div>
</div>

<div class="SpacerLarge"> </div>

<div class="contentColumn">
    <div class="TextTitle2Style">
        Location
    </div>
    <div id="mapviewer">
        <div id="map-canvas" style="width:100%; height:260px; border: 1px solid #919191;"></div>
        
        <div id="LME_maplinks" style="line-height:20px;">
            <a id="LME_largerMap" href="https://maps.google.com/maps?q={{ court.full_address }}" target="_blank">
                View Larger Map
            </a><br>
            <a id="LME_directions" href="https://maps.google.com/maps?daddr={{ court.full_address }}" target="_blank">
                Get Directions
            </a>
        </div>
    </div>
    <div class="SpacerLarge"> </div>
</div>

<div class="contentColumn">
    <div class="TextTitle2Style" style="border-bottom:solid 1px #919191; width:250px;">
        Court Info
    </div>
    <div class="TextNormalStyle">
        {{ court.number_of_courts }} courts <br>
        {% if court.has_lights %}
            Has overhead lights <br>
        {% else %}
            No overhead lights <br>
        {% endif %}
        {% if court.surface_type %}
            {{ court.surface_type_string }} surface <br>
        {% endif %} 
        {{ court.has_public_washroom|yesno:"Public washrooms available.,No public washrooms.," }}
        {{ court.court_info_html|safe }}
    </div>
    
    <div class="SpacerLarge"> </div>
    
    <div class="TextTitle2Style" style="border-bottom:solid 1px #919191; width:250px;">
        Court Conditions
    </div>
    <div class="TextNormalStyle">
        {{ court.court_condition_html|safe }}
    </div>
    
    <div class="SpacerLarge"> </div>
    
    <div class="TextTitle2Style" style="border-bottom:solid 1px #919191; width:250px;">
        Things Nearby
    </div>
    <div class="TextNormalStyle"> 
        {% for thing in court.thingsnearby_set.all %}
            {% if thing.url %}
                <a href="{{ thing.url }}"> {{ thing.text }} </a>
            {% else %}
                {{ thing.text }}
            {% endif %}   
            <br>
        {% endfor %}
    </div>
    
    <div class="SpacerLarge"> </div>
    
    <div class="TextTitle2Style" style="border-bottom:solid 1px #919191; width:250px;">
        Photo gallery
    </div>
    
    <div class="SpacerSmall"> </div>
    <div style="float:left; width:40px; height:40px; border: 1px solid black; background-color:#919191; "> </div>
    <div style="float:left; width:40px; height:40px; border: 1px solid black; background-color:#919191; margin-left:3px;"> </div>
    <div style="float:left; width:40px; height:40px; border: 1px solid black; background-color:#919191; margin-left:3px;"> </div>
    <div style="float:left; width:40px; height:40px; border: 1px solid black; background-color:#919191; margin-left:3px;"> </div>
    <div style="float:left; width:40px; height:40px; border: 1px solid black; background-color:#919191; margin-left:3px;"> </div>
    
    <br> 
    <div class="SpacerLarge"> </div>
    <div class="SpacerLarge"> </div>
    <div class="SpacerLarge"> </div>
    <div class="SpacerLarge"> </div>
</div>

<div class="contentColumn" style="float:right; width:150px; border-left:solid 1px black; height:300px;">
    Ads
</div>

<div class="clear"></div>

<div class="contentColumn">
    <input type="submit" value="edit info" onclick="window.location='/courts/edit/{{ court.slug }}/'"/>
</div>

<div class="clear"></div>
<div class="SpacerLarge"> </div>

{% endblock %}