{% extends "base.html" %}

{% block page_title %}
Edit {{ court.name }}
{% endblock %}

{% block css_includes %}
{% endblock %}

{% block javascript_includes %}
{% endblock %}


{% block additional_scripts %}
{% endblock %}


{% block content %}
{% if court.photosynth_url %}
<iframe frameBorder="0" style="width:100%; height:350px; margin:0px; margin-top:-1px; border:0px; padding:0px; border-bottom:solid 1px #E5D200;" src="{{ court.photosynth_url }}">
    Fallback image.
</iframe>
{% endif %}
<div style="color:white; width:100%; height:40px; background-color:#313131; margin-top:0px; border:0px; padding-left:5px; padding-top:5px; padding-bottom:5px;"> 
    <div style="width:500px; position:relative;">
        <div class="textboxPlaceholder" style="color:white;"> Environmental safety intern </div>
        {{ form.name }}
    </div>
</div>

<div class="SpacerLarge"> </div>

<div style="padding-left:40px; padding-right:40px; width:400px; max-width:400px; float:left;">
    <div class="TextTitle2Style" style="border-bottom:solid 1px #919191; width:250px;">
        Location
    </div>
    <div class="SpacerSmall"> </div>
    
    
    Street address <span style="color:gray;">(optional)</span>:<br>
    {{ form.street_address }}
    <div class="SpacerSmall"> </div>
    
    City: 
    {{ form.city }}
    <div class="SpacerMedium"> </div>
    
    Location on map:<br>
    {{ form.media }}
    {{ form.geo_position }}<br>
    
    <div class="SpacerLarge"> </div>
</div>

<div style="padding-left:40px; padding-right:40px; width:400px; max-width:400px; float:left;">
    <div class="TextTitle2Style" style="border-bottom:solid 1px #919191; width:250px;">
        Court Info
    </div>
    <div class="SpacerSmall"> </div>
    
    {{ form.is_public }} Is public
    <div class="SpacerSmall"> </div>
    
    {{ form.has_lights }} Has overhead lights
    <div class="SpacerSmall"> </div>
    
    {{ form.has_public_washroom }} Has public washrooms
    <div class="SpacerMedium"> </div>
    
    Number of courts:
    {{ form.number_of_courts }}
    <div class="SpacerMedium"> </div>
    
    Surface type: 
    {{ form.surface_type }}
    <div class="SpacerMedium"> </div>
    
    Court conditions: <br>
    {{ form.court_condition }}
    <div class="SpacerSmall"> </div>
    
    Additional info: <br>
    {{ form.court_info }} <br>
    <div class="SpacerLarge"> </div>
</div>

<div style="padding-left:40px; padding-right:40px; width:400px; max-width:400px; float:left;">
    <div class="TextTitle2Style" style="border-bottom:solid 1px #919191; width:250px;">
        Things nearby
    </div>
    
    <div class="SpacerLarge"> </div>
</div>

<div style="padding-left:40px; padding-right:40px; width:400px; max-width:400px; float:left;">
    <div class="TextTitle2Style" style="border-bottom:solid 1px #919191; width:250px;">
        Photo gallery
    </div>
    
    <div class="SpacerLarge"> </div>
</div>

<div class="clear"></div>

<div class="SpacerLarge"> </div>
<div class="SpacerLarge"> </div>
    
<div style="padding-left:40px; padding-right:40px; float:right;">
    <input type="submit" value="Save"/> 
    <input type="submit" value="Preview"/> 
    <input type="submit" value="Cancel"/>
</div>

    <div class="SpacerLarge"> </div>
    <div class="SpacerLarge"> </div>

    
{% endblock %}