{% extends "base.html" %}

{% block page_title %}
Explore - tennisTO
{% endblock %}

{% block content %}
<div id="contentDiv" style="width:800px; margin-left:auto; margin-right:auto; margin-top:30px;">
  <div style="font-size:35px;">
    Explore
  </div>
  
  <div class="contentColumn" style="width:190px;">
    <div class="TextTitle2Style">
      Cities
    </div>
    {% for city in cities %}
      <div class="TextNormalStyle">
      {{ city.name }}
      </div>
    {% endfor %}
  </div>
  
  <div class="contentColumn" style="width:610px;">
    {% for city in cities %}
      <div class="TextTitle2Style" style="border-bottom:solid 1px #919191; width:250px;">
      {{ city.name }}
      </div>
      
      {% for court in city.sorted_courts %}
        <div class="TextNormalStyle">
        <a href="/courts/view/{{ court.slug }}/"> {{ court.name }} </a>
        </div>
      {% endfor %}
      <div class="SpacerLarge"> </div>
    {% endfor %}
  </div>
</div>
{% endblock %}