/* Text styles */
.TextTitle1Style
{
    font-size: 35px;
}

.TextTitle2Style
{
    font-size: 20px;
}

.TextNormalStyle
{
    font-size: 15px; 
}

.TextSubtleStyle
{
    color: #888;
    font-size: 15px;
}

.TextErrorStyle
{
    font-size: 15px;
    color: red;
}


/* Spacer styles */
.SpacerLarge
{
    height: 30px;
}

.SpacerMedium
{
    height: 16px;
}

.SpacerSmall
{
    height: 8px;
}


/* Divider styles */
.Divider
{
    width: 100%;
    height: 1px;
    background-color: black;
}


/* Text input */
textarea 
{
    width: 100%;
    box-sizing: border-box;
    padding: 4px 8px;
    font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
    font-size: 100%;
    color: #212121;
    border: 1px solid rgb(186,186,186);
    background-color: white;
}

input[type=text], input[type=email], input[type=password]
{
    width: 100%;
    box-sizing: border-box;
    height: 32px;
    padding: 4px 8px;
    font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
    font-size: 100%;
    color: #212121;
    border: 1px solid rgb(186,186,186);
    background-color: white;
}


/* Buttons */
input[type=submit], input[type=button]
{
    background-color: #313131;
    color: white;
    padding: 3px 12px 5px;
    border: 0px;
    height: 2.142em;
    min-width: 6em;
    line-height: 142%;
    font-size:17px;
}

input[type=submit]:hover, input[type=button]:hover
{
    background-color: black;
}


/* Select controls */
select
{
    padding-left: 5px;
    box-sizing: border-box;
    border: 1px solid #bababa;
    width: 100%;
    height: 32px;
    font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
    font-size: 100%;
    line-height:142%;
}

select#id_birthday_month
{
    width: 130px;
}

select#id_birthday_day
{
    width: 70px;
}

select#id_birthday_year
{
    width: 110px;
}

/* Links */
a {color:#1BA1E2;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none; color:#1EB7FF;}
a:active {text-decoration:none;}

.UploadFileLink {
    font-size:50px;
    background-color:transparent;
    text-decoration:none;
    color:#1BA1E2;
}


iframe { display: block; }