.logo
{
    font-size:25px; 
}

.nav li
{
    font-size:15px; 
}
	
.contentColumn
{
    padding-left:15px;
    padding-right:15px;
    max-width:560px;
    width:100%;
    float:none;
}

.pageHeaderContent
{
    padding-left:15px;
    padding-right:15px;
}

input[type=submit]:hover
{
    background-color: inherit;
}

input[type=submit]:active
{
    background-color: black;
}