<div class='header'> 
    <div class='logo'> 
        tennisTO 
    </div>
    
    <div class="navAndSearch"> 
      <ul class="nav">
        <li>
          {% if is_homepage %}
            <a href="/" style="color:white;"> 
          {% else %}
            <a href="/" style="color:#E5D200;"> 
          {% endif %}
          home </a> 
        </li>
        <li>
          {% if is_explore_page %}
            <a href="/explore/" style="color:white;"> 
          {% else %}
            <a href="/explore/" style="color:#E5D200;"> 
          {% endif %}
          explore </a> 
        </li>
        <li>
          {% if is_about_page %}
            <a href="/about/" style="color:white;"> 
          {% else %}
            <a href="/about/" style="color:#E5D200;"> 
          {% endif %}
          about </a> 
        </li>
      </ul>
    </div>
</div>