<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title> 
            {% block page_title %}
                tennisTO 
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=480, initial-scale=1, maximum-scale=1, user-scalable=false">
        
        <link rel="stylesheet" type="text/css" href="{% static 'tennisTO.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'controls.css' %}">
        {% block css_includes %}
        {% endblock %}
        
        
        <script type="text/javascript" src="{% static 'jquery-1.10.2.js' %}"></script>
        <script type="text/javascript" src="{% static 'controls.js' %}"></script>
        {% block javascript_includes %}
        {% endblock %}
        
        <script>
            {% block additional_scripts %}
            {% endblock %}
        </script>
    </head>
    
    <body>
        {% include "banner.html" %}
        
        {% block content %}
        {% endblock %}
    </body>
</html>