<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title> Tennis TO </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'internnest.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'controls.css' %}">
        
        <script type="text/javascript" src="{% static 'jquery-1.10.2.js' %}"></script>
        <script type="text/javascript" src="{% static 'controls.js' %}"></script>
        
        {% block javascript_includes %}
        {% endblock %}
        
        <script>
            {% block additional_scripts %}
            {% endblock %}
        </script>
    </head>
    
    <body>
        {% include "banner.html" %}
        
        {% block content %}
        {% endblock %}
    </body>
</html>