<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title> 
            {% block page_title %}
                tennisTO
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 user-scalable=no">
        
        <link rel="stylesheet" type="text/css" href="{% static 'tennisTO.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'controls.css' %}">
        <link rel="stylesheet" media="handheld, only screen and (max-device-width: 600px)" href="{% static 'phone.css' %}">
        {% block css_includes %}
        {% endblock %}
        
        
        <script type="text/javascript" src="{% static 'jquery-1.10.2.js' %}"></script>
        <script type="text/javascript" src="{% static 'controls.js' %}"></script>
        {% block javascript_includes %}
        {% endblock %}
        
        <script>
            {% block additional_scripts %}
            {% endblock %}
        </script>
    </head>
    
    <body>
        {% include "banner.html" %}
        
        {% block content %}
        {% endblock %}
    </body>
</html>